body {
    background-color: #C1D9FF;
}

.title {
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.options-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#grid-container { 
    height: 500px;
    width: 500px;
    border: black 1px solid;
    background-color: white;
    display: grid;
}

.lines {
    border-style: solid;
    border-color: grey;

}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: black; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }


  